@import 'tailwindcss';

:root {
  --text: #eaeaea;
  --text-h: #08060d;
  --bg: #1b1b1b;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: gold;

  --sans: Roboto, 'Segoe UI', system-ui, sans-serif;
  --heading: 'Roboto Slab', 'Segoe UI', system-ui, serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.spin {
  box-shadow: 3px 3px 4px #f5c54266;
  transition: all 0.25s ease;
}
.spin:hover {
  box-shadow:
    0 0 14px #f5c542aa,
    3px 3px 6px #f5c54255;
  border-color: #ffd86a;
  transform: translateY(-1px);
}
.spin-button:active {
  transform: translateY(0px) scale(0.99);
  box-shadow: 0 0 8px #f5c54266;
}

.info {
  position: absolute;
  top: -40%;
  font-size: 2rem;
  font-weight: bold;
  pointer-events: none;
  z-index: 99;
}

.spinning {
  animation: spinAnimation 500ms linear infinite;
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
